@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

* {
  font-family: "Space Grotesk";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #0d0d0d;
  color: #f7f1f1;
}

main {
  padding-inline: 1.2rem;
}

.btn {
  text-transform: uppercase;
  color: #f7f1f1;
  text-decoration: none;
  border-bottom: 3px solid #7474ff;
  padding-bottom: .5rem;
  width: max-content;
  position: relative;
}

.btn::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #f7f1f1;
  transition: width 0.3s ease, left 0.3s ease;
}

.btn:hover::before {
  width: 100%;
  left: 0;
}

.btn:hover {
  border-bottom: none;}


header {
  padding-inline: 1.2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

nav img{
  width: 1.25rem;
  height: 1.25rem;
}

nav .social-links {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

nav p {
  font-size: 1.15rem;
}

.intro {
  /* height: 50vh; */
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #f7f1f1;
}

.intro h1 span {
  border-bottom: 5px solid;
  border-color: #7474ff;
}

.intro p {
  color: #aeadad;
  margin: 1.3rem 0 2rem;
}

.skills {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  margin: 2rem 0;
  padding-bottom: 2rem;
  border-bottom: 1px solid #f7f1f1;
}

.skills h2 {
  width: 15.35rem;
  font-size: 1.8rem;
  padding: 1rem 2rem;
}

.skills h2 span {
  display: block;
  font-size: 0.8rem;
  color: #aeadad;
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.project-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 0 2rem;
}

.project img {
  width: 100%;
  margin-bottom: .5rem;
}

.project {
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.project p {
  color: #aeadad;
  font-size: .9rem;
  display: flex;
  gap: .75rem;
  margin: .4rem 0 .8rem;
}

.project .ext-links {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: .8rem;
  letter-spacing: 1px;
}


footer {
  background-color: #383838;
  padding-inline: 1.2rem;
  padding: 2rem 1.2rem 1.5rem;
  text-align: center;
  margin-top: 5rem;
}

.contact {
  margin-bottom: 2rem;
}

.contact h2 {
  margin-bottom: 1rem;
  font-size: 1.95rem;
}

.contact p {
  color: #aeadad;
}

footer nav {
  border-top: 1px solid #f7f1f1;
  padding: 1.2rem 0 0 0;
}

.form {
  display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 gap: 2rem;
 margin: 3rem 0;
}

input, textarea {
  background: transparent;
  outline: none;
  border: none;
 border-bottom: 1px solid #f7f1f1;
 width: 100%;
 padding-inline: .5rem;
 padding-bottom: 1rem;
 color: #f7f1f1;
 caret-color: #7474ff;
}

input::placeholder, textarea::placeholder {
  color: #f7f1f1;
  font-size: .8rem;
}

.button-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.button-form button {
  cursor: pointer;
  border: none;
  border-bottom: 3px solid #7474ff;
  background-color: transparent;
  width: fit-content;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

form {
  width: 100%;
}

@media (min-width: 820px) {
  .projects {
    gap: 1rem;
    justify-content: space-between;
  }
  .project {
    width: 48%;
  }

  form {
    width: 60%;
  }

  form input {
    width: 100%;
  }

  .contact-intro {
    width: 30%;
    text-align: left;
    padding-top: 2rem;
  }

  .contact {
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
  }

.intro p {
width: 25.75rem;
}
 }